.body {
    background: rgb(202, 187, 230);
}

.projectCard {
    width: 300px;
    margin: auto;
    border: 2px solid black;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: whitesmoke; 
}